# Jarak Data

Data dapat diketahui equivalensinya menggunakan penggurukan jarak dari dataset.

Sebelum itu, mari kita tarik sampel data dan beri label.

In [70]:
import pandas as pd
import itertools as it
import scipy.spatial.distance as spad

In [94]:
columns = ['Specimen Number', 'Eccentricity', 'Aspect Ratio', 'Elongation', 'Solidity']
df = pd.read_csv('leaf.csv', nrows=4, usecols=columns)
data = [[round(i,2) for i in x] for x in df.values.tolist()]
df = pd.DataFrame(data, columns=df.columns)
data = [x[1:] for x in df.values.tolist()] # Discard for REAL calculation
df

   Specimen Number  Eccentricity  Aspect Ratio  Elongation  Solidity
0              1.0          0.73          1.47        0.32      0.99
1              2.0          0.74          1.53        0.36      0.98
2              3.0          0.77          1.57        0.39      0.98
3              4.0          0.74          1.46        0.35      0.98

# Minkowski Distance

Jarak Minkowski adalah jarak spatial dengan M sebagai parameter real dan N sebagai jumlah dimensi pada entity.

Special Case: Jika M = 1 maka bisa disebut sbg Manhattan (Cityblock) distance, dan M = 2 maka bisa disebut Euclidean distance.

In [75]:
columns = ['Specimen A', 'Specimen B', 'Minkowski Distance', 
            'Manhattan distance', 'Euclidean distance', 
            'Average Distance', 'Weighted euclidean distance', 
            'Chord distance', 'Mahalanobis distance', 'Cosine measure']
data = list(itertools.combinations(rawdf.values.tolist(), 2))
data2 = [(
    d[0][1],
    d[1][1],
    spad.minkowski(d[0],d[1],2),
    spad.cityblock(d[0],d[1]),
    spad.euclidean(d[0],d[1]),
    
    0,0,0,0,0) for d in data]
pd.DataFrame(data2,columns=columns)

,Specimen A,Specimen B,Minkowski Distance,Manhattan distance,Euclidean distance,Average Distance,Weighted euclidean distance,Chord distance,Mahalanobis distance,Cosine measure
0,1.0,2.0,1.112270,1.698788,1.112270,0,0,0,0,0
1,1.0,3.0,2.135173,3.105061,2.135173,0,0,0,0,0
2,1.0,4.0,3.058140,3.789023,3.058140,0,0,0,0,0
3,2.0,3.0,1.033993,1.428673,1.033993,0,0,0,0,0
4,2.0,4.0,2.004332,2.255656,2.004332,0,0,0,0,0
5,3.0,4.0,1.017792,1.348817,1.017792,0,0,0,0,0